/* Reinicio básico de estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Centrar el contenido */
body, html, #root, .App {
  height: 110%;
  font-family: 'Arial', sans-serif;
  background-color: #f3f4f6; /* Fondo gris claro */
}

/* Ajustes para el contenedor principal */
.App {
  display: flex;
  align-items: center;
  justify-content: center;
}
